<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Neues password eingeben</title>
    <link rel="stylesheet" href="/static/css/eingabe.css">
</head>

<body>


<div class="form-container">
    <h1>Neues passwort eingeben</h1>

    <form method="POST">
        <label for="name">username:</label>
        <input id="name" name="name" type="text" required>

        <label for="wert">passwort:</label>
        <input id="wert" name="wert"  required>

        <button class="button2" type="submit">Speichern</button>
    </form>
</div>


<script src="/static/js/eingabe.js"> </script>
</body>
</html>
